@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Serif+KR:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  /* font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: black;
  margin: 8px 0px;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: black;
  margin: 4px 0px;
  line-height: 150%;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100vw;
  font-family: "Noto Serif KR", "Open Sans", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 7px;
  background: #ffffff;
  line-height: 1;
  transition: all 0.4s ease-in-out;
}

#navbar.navbar__scrolling {
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  width: 15%;
  text-align: center;
}

.navbar__menu {
  display: flex;
  max-width: 50%;
  align-items: center;
  justify-content: space-around;
}

.navbar__menu__item {
  margin-right: 20%;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  white-space: nowrap;
  opacity: 0.3;
  border: 1px solid transparent;
  font: var(--font-small);
}

.navbar__menu__item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 1);
}

.navbar__contact {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
}

.navbar__contact svg {
  opacity: 0.3;
}

.navbar__toggle-btn {
  position: absolute;
  top: 38px;
  right: 32px;
  font-size: 24px;
  opacity: 0.3;
  display: none;
}

#home {
  margin-top: 50px;
  text-align: center;
}

.home__avatar {
  text-align: centers;
  width: 100%;
  height: 350px;
}

.home__avatar img {
  max-width: 75%;
  max-height: 100%;
}

.home__context {
  margin-top: 40px;
}

.home__contact {
  margin-top: 80px;
}

.home__contact span {
  position: relative;
  max-height: 65px;
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 21px 35px 21px 40px;
  text-align: center;
  font-weight: var(--weight-semi-bold);
  border: 2px solid black;
  border-radius: 8px;
}

.home__contact span:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
}

.division {
  padding: 50px;
  padding-top: 100px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.stacks {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.stack__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  color: tomato;
  font-size: 70px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.stack__icon i {
  transition: all 0.7s ease-in-out;
}

.stack__icon:hover i {
  color: skyblue;
  transform: rotate(360deg);
}

.stack__title {
  padding: 10px;
}

.stack__context {
  color: darkgrey;
}

.skills__set {
  background-color: grey;
  display: flex;
  color: white;
  font-family: "Open Sans";
}

.skills__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.4);
}

.skills__right {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.skills__title,
.tools__title,
.etc__title {
  color: white;
}

.skill__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
  margin-bottom: 20px;
}

.skill__bar__value {
  height: 3px;
  background-color: orange;
}

.tools {
  padding: 20px;
  background-color: dimgrey;
}

.tools__title,
.etc__title {
  margin-bottom: 15px;
}

.tools__list li {
  margin-bottom: 5px;
}

.etc {
  padding: 10px;
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid dimgrey;
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  background-color: white;
}

.category__btn.active,
.category__btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: lightslategray;
  border-radius: 50%;
  color: white;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.work__projects.animate-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  position: absolute;
  background: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.5s ease-in-out;
}

.project__description h3 {
  color: white;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 30px;
  height: 2px;
  margin-left: -17px;
  margin-top: 8px;
  background-color: dimgrey;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.people {
  margin-top: 40px;
  display: flex;
  overflow: auto;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 300px;
  margin-right: 50px;
}

.person__avatar {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.person__avatar a {
  position: relative;
  top: 25px;
  font-size: var(--font-medium);
  opacity: 0.4;
}

.person__avatar img {
  max-width: 90px;
  max-height: 90px;
  border-radius: 50%;
}

.person__context {
  font-size: var(--font-small);
  text-align: left;
  padding: 0px;
  opacity: 0.7;
}

#contact {
  background-color: black;
  text-align: center;
  padding: 10px;
}

.contact__title,
.contact__email,
.contact__links,
.contact__rights {
  color: white;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.contact__links a svg {
  fill: white;
}

.contact__links a svg:hover {
  transform: scale(1.1);
}

.contact__rights {
  opacity: 0.7;
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1100px) {
  .navbar__contact {
    display: none;
  }
  .navbar__menu {
    margin-right: 20%;
  }
  .navbar__menu__item {
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    display: none;
  }
  .navbar__menu__item {
    margin-bottom: 10px;
  }
  .stacks {
    flex-direction: column;
  }
  .stack {
    margin-bottom: 38px;
  }
  .skills__set {
    flex-direction: column;
  }
  .etc {
    margin-bottom: 38px;
  }
  .project {
    flex-grow: 1;
  }

  .person {
    flex-grow: 1;
  }
}
